---
import Nextjs from "../icons/Nextjs.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro";
import TypeScript from "../icons/TypeScript.astro";
import JavaScript from "../icons/JavaScript.astro";
import HTML from "../icons/Html.astro";
import CSS from "../icons/Css.astro";
import PHP from "../icons/PHP.astro";
import Links from "../icons/Links.astro";
import OpenAI from "../icons/OpenIA.astro";
import Azure from "../icons/Azure.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  React: {
    name: "React.js",
    class: "bg-black text-white",
    icon: React,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-[#035495] text-white",
    icon: TypeScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  HTML5: {
    name: "HTML 5",
    class: "bg-[#902804] text-white",
    icon: HTML,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#889004] text-white",
    icon: JavaScript,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#500484] text-white",
    icon: PHP,
  },
  OPENAI: {
    name: "OpenAI",
    class: "bg-[#05B555] text-white",
    icon: OpenAI,
  },
  AZURE: {
    name: "Azure",
    class: "bg-[#07A1C7] text-white",
    icon: Azure,
  },
};
const PROJECTS = [
  {
    title: "Disney+ Clone - learning purposes",
    description:
      "Created for learning purposes and continuous improvement in the use of new technologies",
    link: "https://disney-clone-rouge-chi.vercel.app/",
    image: "/projects/Disney-clone.webp",
    tags: [TAGS.Tailwind, TAGS.TypeScript, TAGS.React, TAGS.NEXT, TAGS.OPENAI, TAGS.AZURE],
  },
  {
    title: "Booking Clone - learning purposes",
    description:
      "Created for learning purposes and continuous improvement in the use of new technologies",
    link: "https://booking-clone-kappa.vercel.app/",
    github: "https://github.com/jparkingson/Booking-clone",
    image: "/projects/booking-clone.webp",
    tags: [TAGS.NEXT, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "BFJ Clean",
    description:
      "Keeping your spaces clean and tidy is very important for health and good performance.",
    link: "https://bfjclean.com/",
    image: "/projects/BFJ-Clean.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JavaScript],
  },
  {
    title: "BFJ Logistics",
    description: "logistics company in charge of cargo handling and courier",
    link: "https://bfjlogistics.com/",
    image: "/projects/BFJ-Logistics.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JavaScript, TAGS.PHP],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link }) => (
    <article>
      <div class="flex text-center">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2 mt-3">
          {title}
        </h3>

        <p class="text-gray-500 dark:text-gray-400">
          {" "}
          <a href={link} target="_blank" class="flex pt-4 mx-2 size-6">
            <Links />
          </a>
        </p>
      </div>

      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded shadow-2xl shadow-white/10 " src={image} alt="" />
    </article>
  ))
}
