---
import Nextjs from "../icons/Nextjs.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro"
import TypeScript from "../icons/TypeScript.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  React: {
    name: "React.js",
    class: "bg-black text-white",
    icon: React,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-[#035495] text-white",
    icon: TypeScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML5: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "Booking Clone - learning purposes",
    description:
      "Created for learning purposes and continuous improvement in the use of new technologies",
    link: "https://booking-clone-kappa.vercel.app/",
    github: "https://github.com/jparkingson/Booking-clone",
    image: "/projects/booking-clone.webp",
    tags: [TAGS.NEXT, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded shadow-2xl shadow-white/10 " src={image} alt="" />
    </article>
  ))
}
